{% extends "base.html" %}

{% block title %}{{ accion }} Producto{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="fw-bold text-primary mb-4">{{ accion }} Producto</h2>
            
            <div class="card card-shadow border-0 p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'products:admin_productos' %}" class="btn btn-outline-secondary">Volver</a>
                        <button type="submit" class="btn btn-success px-5">{{ accion }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}